:root {
  --red-color: rgb(254, 119, 153);
  --green-color: rgb(81, 206, 205);
  --blue-color: rgb(112, 193, 255);
  --pink-color: rgb(255, 200, 200);

  --font-color-dark: #333;
  --font-color-light: #777;

  --radius: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;

  background-color: var(--pink-color);
  padding: 5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
